div{
    margin-top : 10px;
    padding : 15px;
    width : 100%;
    box-sizing : border-box;
}
th{
    width: 10% !important;
    min-width : 150px !important;
    margin : 0 !important;
    padding : 5px !important;
}
th:hover{
    background-color: #3784b8;
}