.schedule-board {
    width: 80%;
    margin: auto;
}

.schedule-table {
    border-collapse: collapse;
    border: 1px solid #aaa;
}

.divider {
    width: 0;
    border-left: #000;
}

.schedule-table .header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.col1 {
    width: 12%;
}

.col2 {
    width: 9%;
}

th>p {
    display: inline-flex;
    vertical-align: middle;
}